<div class="container">
    <div *ngIf="this.courses.length===0; else elseBlock">No Courses to show</div>
    <ng-template #elseBlock>
        <h1 class="text-center mb-3">List of Courses</h1>


        <h1 class = "text-center">ENGLISH</h1>
        <div *ngFor="let course of courses">
            <div *ngIf="this.course.lang==='English'">
                <h3>{{course.name}}</h3>
                <p>Instructor = {{course.instructor}}</p>
                <p>Level = {{course.level}}</p>
                <p>Lang = {{course.lang}}</p>
                <p>Rating = {{course.rating}}</p>
                <p>Desc = {{course.desc}}</p>
            </div>
        </div>

        <h1 class = "text-center">URDU</h1>
        <div *ngFor="let course of courses">
            <div *ngIf="this.course.lang==='Urdu'">
                <h3>{{course.name}}</h3>
                <p>Instructor = {{course.instructor}}</p>
                <p>Level = {{course.level}}</p>
                <p>Lang = {{course.lang}}</p>
                <p>Rating = {{course.rating}}</p>
                <p>Desc = {{course.desc}}</p>
            </div>
        </div>


        <h1 class = "text-center">FRENCH</h1>
        <div *ngFor="let course of courses">
            <div *ngIf="this.course.lang==='French'">
                <h3>{{course.name}}</h3>
                <p>Instructor = {{course.instructor}}</p>
                <p>Level = {{course.level}}</p>
                <p>Lang = {{course.lang}}</p>
                <p>Rating = {{course.rating}}</p>
                <p>Desc = {{course.desc}}</p>
            </div>
        </div>

    </ng-template>
</div>